<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE book.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-book.mapper.dtd">
<book.mapper namespace="book.mapper.CommentMapper">
    <select id="selectByExample" parameterType="comment" resultType="comment">
        select * from comment where parent_id = #{parentId} and type = #{type} order by #{gmtCreate} desc
    </select>

    <insert id="insert" parameterType="comment">
        insert into comment (id, parent_id, type, commentator, gmt_create, gmt_modified, like_count, content, comment_count)
        values (#{id}, #{parentId}, #{type}, #{commentator}, #{gmtCreate}, #{gmtModified}, #{likeCount}, #{content}, #{commentCount})
    </insert>

    <select id="selectByPrimaryKey" parameterType="integer" resultType="comment">
        select * from comment where id = #{id}
    </select>

    <update id="incCommentCount" parameterType="comment">
        update comment set comment_count = comment_count + #{commentCount} where id =#{id}
    </update>

</book.mapper>