<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE book.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-book.mapper.dtd">
<book.mapper namespace="book.mapper.NotificationMapper">
    <update id="countByExample">
        select count(*) from notification where receiver = #{receiver}
    </update>

    <insert id="insert">
        insert into notification (notifier,receiver,outerid, type, gmt_create, status, notifier_name, outer_title)
        values (#{notifier},#{receiver},#{outerid},#{type},#{gmtCreate},#{status},#{notifierName},#{outerTitle})
    </insert>

    <select id="selectByPrimaryKey">
        select * from notification where id = #{id}
    </select>

    <update id="updateByPrimaryKey">
        update notification set status = #{status} where id = #{id}
    </update>

    <select id="selectByExampleWithRowbounds">
        select * from notification where receiver = #{receiver} order by gmt_create desc limit #{offset},#{size}
    </select>

    <select id="unreadCount">
        select count(*) from notification where receiver = #{receiver} and status = #{status}
    </select>
</book.mapper>